[submodule "pack/git-plugins/start/FastFold"]
	path = pack/git-plugins/start/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "pack/git-plugins/start/vim-python-pep8-indent"]
	path = pack/git-plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "pack/git-plugins/start/vim-mundo"]
	path = pack/git-plugins/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule "pack/git-plugins/start/vim-signify"]
	path = pack/git-plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "pack/git-plugins/start/vim-sensible"]
	path = pack/git-plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/git-plugins/start/delimitmate"]
	path = pack/git-plugins/start/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule "pack/git-plugins/start/vim-misc"]
	path = pack/git-plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "pack/git-plugins/start/Dockerfile.vim"]
	path = pack/git-plugins/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "pack/git-plugins/start/SimpylFold"]
	path = pack/git-plugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "pack/git-plugins/start/vim-unimpaired"]
	path = pack/git-plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/git-plugins/start/python-syntax"]
	path = pack/git-plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "pack/git-plugins/start/vim-fugitive"]
	path = pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/git-plugins/start/vim-json"]
	path = pack/git-plugins/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule "pack/git-plugins/start/ropevim"]
	path = pack/git-plugins/start/ropevim
	url = https://github.com/python-rope/ropevim
[submodule "pack/git-plugins/start/vim-isort"]
	path = pack/git-plugins/start/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "pack/git-plugins/start/vim-surround"]
        path = pack/git-plugins/start/vim-surround
        url = https://github.com/tpope/vim-surround
[submodule "pack/git-plugins/start/vim-commentary"]
	path = pack/git-plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/git-plugins/start/async.vim"]
	path = pack/git-plugins/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "pack/git-plugins/start/vim-lsp"]
	path = pack/git-plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/git-plugins/start/asyncomplete-lsp.vim"]
	path = pack/git-plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/git-plugins/start/vim-lsp-settings"]
	path = pack/git-plugins/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "pack/git-plugins/start/vim-lsp-snippets"]
	path = pack/git-plugins/start/vim-lsp-snippets
	url = https://github.com/thomasfaingnaert/vim-lsp-snippets
[submodule "pack/git-plugins/start/asyncomplete.vim"]
	path = pack/git-plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/git-plugins/start/vim-toml"]
	path = pack/git-plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "pack/git-plugins/start/vim-buffet"]
	path = pack/git-plugins/start/vim-buffet
	url = https://github.com/bagrat/vim-buffet.git
[submodule "pack/git-plugins/start/vim-devicons"]
	path = pack/git-plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/git-plugins/start/vim-startify"]
	path = pack/git-plugins/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/git-plugins/start/vim-cutlass"]
	path = pack/git-plugins/start/vim-cutlass
	url = https://github.com/svermeulen/vim-cutlass.git
[submodule "pack/git-plugins/start/vim-speeddating"]
	path = pack/git-plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/git-plugins/start/vim-qf"]
	path = pack/git-plugins/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "pack/git-plugins/start/vim-polyglot"]
	path = pack/git-plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/git-plugins/start/diffconflicts"]
	path = pack/git-plugins/start/diffconflicts
	url = https://github.com/whiteinge/diffconflicts
[submodule "pack/git-plugins/start/vim-wayland-clipboard"]
	path = pack/git-plugins/start/vim-wayland-clipboard
	url = https://github.com/jasonccox/vim-wayland-clipboard.git
[submodule "pack/git-plugins/start/UltiSnips"]
	path = pack/git-plugins/start/UltiSnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/git-plugins/start/asyncomplete-ultisnips.vim"]
	path = pack/git-plugins/start/asyncomplete-ultisnips.vim
	url = https://github.com/prabirshrestha/asyncomplete-ultisnips.vim
[submodule "pack/git-plugins/start/vim-snippets"]
	path = pack/git-plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
