[submodule "pack/git-plugins/start/FastFold"]
	path = pack/git-plugins/start/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "pack/git-plugins/start/vim-python-pep8-indent"]
	path = pack/git-plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "pack/git-plugins/start/vim-mundo"]
	path = pack/git-plugins/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule "pack/git-plugins/start/ctrlp.vim"]
	path = pack/git-plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/git-plugins/start/vim-signify"]
	path = pack/git-plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "pack/git-plugins/start/vim-sensible"]
	path = pack/git-plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/git-plugins/start/delimitmate"]
	path = pack/git-plugins/start/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule "pack/git-plugins/start/vim-misc"]
	path = pack/git-plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "pack/git-plugins/start/Dockerfile.vim"]
	path = pack/git-plugins/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "pack/git-plugins/start/SimpylFold"]
	path = pack/git-plugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "pack/git-plugins/start/vim-dispatch"]
	path = pack/git-plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/git-plugins/start/vim-unimpaired"]
	path = pack/git-plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/git-plugins/start/python-syntax"]
	path = pack/git-plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "pack/git-plugins/start/vim-fugitive"]
	path = pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/git-plugins/start/vim-json"]
	path = pack/git-plugins/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule "pack/git-plugins/start/ropevim"]
	path = pack/git-plugins/start/ropevim
	url = https://github.com/python-rope/ropevim
[submodule "pack/git-plugins/start/ultisnips"]
	path = pack/git-plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/git-plugins/start/vim-isort"]
	path = pack/git-plugins/start/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "pack/git-plugins/start/vim-surround"]
        path = pack/git-plugins/start/vim-surround
        url = https://github.com/tpope/vim-surround
[submodule "pack/git-plugins/start/vim-surround"]
	path = pack/git-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/git-plugins/start/vim-commentary"]
	path = pack/git-plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/git-plugins/start/vim-indent-guides"]
	path = pack/git-plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
